:root {
    font-size: 16px;
    font-family: 'Quicksand';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-theme-light: #f7f7f7;
    --bg-theme-dark: #1a171b;
}

body {
    color: black;
    background-color: var(--bg-theme-light);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #8d8d8d;
}

main {
    margin-left: 13rem;
    margin-right: 7rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


/* a.active--exact.active {
    color: blue;
} */


/* small screens */

@media only screen and (max-width: 600px) {
    main {
        margin: 0 0 3.5rem 0;
    }
}


/* medium screens */

@media only screen and (min-width: 600px) and (max-width: 900px) {
    main {
        margin: 0 2rem 0 9rem;
    }
}


/*normal screens*/

@media only screen and (min-width: 900px) and (max-width: 1080px) {
    main {
        margin: 0 2rem 0 9rem;
    }
}